!!!
%html{locale: current_locale}
  %head
    %meta{content: "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    %title OKCEP
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag  "marketing"
    = csrf_meta_tags
    = render 'social_metadata'

  %body{class: "#{controller_name} #{action_name}"}
    - analytics_scope do
      = render 'google_tag_manager'
    = render 'flash_messages'

    .container-fluid
      %nav.navbar.navbar-default
        .content
          .navbar-header
            = link_to image_tag("logo-orange.png"), root_path, class: 'navbar-brand', alt: 'Loomio'
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: 'https://github.com/loomio/loomio'}
                %i.fa.fa-github
            %li
              %a{href: 'https://twitter.com/Loomio'}
                %i.fa.fa-twitter
            %li
              %a{href: 'https://www.facebook.com/Loomio'}
                %i.fa.fa-facebook
            %li= link_to t(:'frontpage.link.press'), 'http://blog.loomio.org/press-pack', class: 'press'
            %li= link_to t(:'frontpage.link.blog'), blog_path, class: 'blog'
            %li= link_to t(:'frontpage.link.contact'), contact_path, class: 'contact'
            %li= link_to t(:'frontpage.link.log_in'), new_user_session_path, class: 'btn btn-orange'

      .row.hero
        .content-container
          .content
            %h1.header Oklahoma Coalition To End Prohibition
            %h2.subhead Legalize it, Together.
            %p.hero-text.description= t(:'frontpage.hero.desc')

    = javascript_include_tag "marketing"
