!!!
%html{locale: current_locale}
  %head
    %meta{content: "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    %title OKCEP
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag  "marketing"
    = csrf_meta_tags
    = render 'social_metadata'

  %body{class: "#{controller_name} #{action_name}"}
    - analytics_scope do
      = render 'google_tag_manager'
    = render 'flash_messages'

    .container-fluid
      %nav.navbar.navbar-default
        .content
          .navbar-header
            = link_to image_tag("logo-okcep.png"), root_path, class: 'navbar-brand', alt: 'OKCEP'
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: 'https://www.facebook.com/okcep'}
                %i.fa.fa-facebook
            %li= link_to t(:'frontpage.link.contact'), contact_path, class: 'contact'
            %li= link_to t(:'frontpage.link.log_in'), new_user_session_path, class: 'btn btn-orange'

      .row.hero
        .content-container
          .content
            =image_tag 'globe.png', class: 'image'
            %h1.header OKCEP
            %h2.subhead Legalize it, Together.
            %p.hero-text.description Make decisions together, build consensus, and lead the effort to Legalize Marijuana in Oklahoma.

    = javascript_include_tag "marketing"
